@mixin sm{
    @media(max-width: 400px){
        @content;
        main{
            div.main-wrapper{
                padding: 10px;

                div.first{
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto;
                    max-width: 400px;
                    .text{ margin: 0;
                        width: 50%;
                        a{
                            button{
                                width: 175px;
                                height: 36px;
                            }
                        }}
                    .image{
                        width: 50%;
                        position: relative;
                        right: 40px;
                        img{
                            height: 165px;
                            width: 300px;
                        }
                    }
                }
                .second{
                    grid-template-columns: 1fr;
                    grid-template-areas: 1fr 1fr;
                    margin: 20px;
                    .content{
                        grid-column: 1/2;
                        grid-row: 1/2;
                        width: 250px;

                    }
                    .links{
                        grid-column: 1/2;
                        grid-row: 2/3;
                        display: flex;
                        flex-wrap: wrap;
                        margin-right: 0;
                        .icon{
                            width: 155px;
                        }

                    }
                }

            }

        }
        }
    }

@mixin md{
    @media(min-width: 800px){
        @content;
    }
}
@mixin lg{
    @media(min-width: 900px){
        @content;
    }
}
@mixin xlg{
    @media(min-width: 1000px){
        @content;
    }
}
@mixin xxlg{
    @media(min-width: 1200px){
        @content;
    }
}